.banner{
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.bg-color{
	margin-left: 30px;
	width: 35%;
	background-color: rgba(0, 0, 0, .5);
}

.wrapper{
	padding: 30px 20px;
}
.wrapper h1{
	font-family: sans-serif;
	font-size: 40px;
	color: white;
	font-weight: 700;
}
.wrapper h2{
	font-family: sans-serif;
	font-size: 20px;
	color: white;
	font-weight: 400;
	background-color: darkred;
	padding: 5px 20px;
}
.wrapper h3{
	font-family: sans-serif;
	font-size: 20px;
	color: white;
	font-weight: 700;
}
.wrapper p{
	font-family: sans-serif;
	font-size: 16px;
	color: white;
	font-weight: 400;
}


.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}